:root {
    --font-size-small-less: 0.5vw;
    --font-size-small: 0.7vw;
    --font-size-small-more: 0.9vw;
    --font-size-medium-less: 1.3vw;
    --font-size-medium: 1.7vw;
    --font-size-medium-more: 2.1vw;
    --font-size-large-less: 2.5vw;
    --font-size-large: 2.9vw;
    --font-size-large-more: 3.2vw;
    scroll-behavior: smooth;
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-up {

    0% {
        transform: translateY(20vh);
    }

    100% {
        transform: translateY(0vh);
    }

}

@keyframes slide-left-show {
    0% {}

    100% {
        right: -100vw;

    }
}

@keyframes slide-right-show {
    0% {}

    100% {
        left: -100vw;

    }
}

@keyframes slide-up-show {
    0% {}

    100% {
        top: -100vw;

    }
}

.MainContainer {
    position: relative;
    width: 100vw;
    height: 690vh;
    background-color: white;
}

.Header {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 8vh;
    width: 100vw;
    opacity: 0%;
    animation: show 1s linear forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 10;
    /* background-color: red; */
    overflow: hidden;

    &>img[name=newkissanagros-logo-img] {
        position: absolute;
        top: 1vh;
        left: 2vh;
        width: 10vw;
        aspect-ratio: inherit;
    }

    &>label[name=company-name-label] {
        position: absolute;
        top: 2.5vh;
        left: 15vw;
        font-size: var(--font-size-medium);
        font-family: sora;

        color: #424242;
        font-weight: 400;

    }

    &>div[name=options-container] {
        position: absolute;
        right: 3vw;
        top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;

        &>label[name=home-link-label] {
            font-size: var(--font-size-large-more);
            color: #00C853;
        }

        &>label[name=contact-link-label] {
            transition: 0.5s;

            font-size: var(--font-size-medium-more);
            color: #424242;
            box-shadow: 0px 0px 2px #757575;
            background: linear-gradient(120deg, #00C853, #CCFF90 50% 100%);
            border-radius: 0.5vw;
            padding: 0.6vw;
            cursor: pointer;

            &:hover,
            &:active {
                transition: 0.5s;
                box-shadow: 0px 0px 1px #424242;

            }

        }

    }



}

.FirstPage {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 90vh;
    padding-top: 8vh;
    box-sizing: border-box;
    opacity: 0%;
    animation: show 1s linear forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    overflow: hidden;


    &>img[name=main-wallpaper-img] {
        position: absolute;

        top: 8vh;
        left: -30vw;

        width: 100vh;
        aspect-ratio: inherit;
        object-fit: scale-down;
        object-position: top right;
        filter: blur(0.02rem)
    }

    &>label[name=heading-1-label] {
        position: absolute;
        top: 10vh;
        right: 5vw;
        font-size: 6vw;

        font-family: sora;
        white-space: pre-line;
        text-align: right;
        color: #424242;


    }



    &>label[name=heading-2-label] {
        position: absolute;
        top: 20vh;
        right: 5vw;
        font-size: var(--font-size-large-more);

        font-family: sora;
        white-space: pre-line;
        color: #757575;
        line-height: 4vh;
        /* background-color: #212121; */
        padding: 1vw;
        box-sizing: border-box;
        color: white;
        text-align: right;
        animation: slide-right-show 0.5s ease-in 0s forwards 1 reverse;


    }


}

.SecondPage {
    --parent-width: 100vw;
    --parent-height: 200vh;
    position: absolute;
    top: 100vh;
    left: 0vw;
    overflow: hidden;

    width: var(--parent-width);
    height: var(--parent-height);

    &>div[name='relative'] {
        position: relative;
        width: var(--parent-width);
        height: var(--parent-height);

        &>img[name=hood-fiber-main-wallpaper] {
            /* display: block; */
            position: absolute;
            top: 12vh;
            left: 5vw;
            width: 18vw;
            padding: 1vw;
            aspect-ratio: inherit;
            filter: drop-shadow(0px 0px 0px #212121);

            opacity: 0%;
            animation: show 1s ease-in forwards 1 alternate;
            animation-delay: 0s;
            box-sizing: border-box;
            border-radius: 1vh;
            transition: 0.5s;
            background-color: #E0E0E0;


        }

        &>label[name=fiber-hood-label] {
            display: block;
            position: absolute;
            top: 15vh;
            left: 21vw;
            padding: 0.5vw;
            box-sizing: border-box;
            background-color: #212121;
            color: #FAFAFA;
            transition: 0.5s;
        }

        &>img[name=product-img] {
            display: none;
            position: absolute;
            right: 1vw;
            top: 10vh;
            width: 40vw;
            aspect-ratio: inherit;
            filter: hue-rotate(30deg);

            opacity: 0%;
            animation: slide-left-show 0.5s ease-in 0s reverse 1 forwards, show 0.5s ease-in forwards 1 alternate;


        }


        &>label[name=service-heading-label] {
            display: none;
            position: absolute;
            right: 45vw;
            top: 20vh;
            font-size: var(--font-size-large-less);
            white-space: pre-line;
            color: #212121;
            opacity: 0%;

            animation: slide-up-show 1s ease-in 0s reverse 1 forwards, show 0.5s ease-in forwards 1 alternate;

        }

        &>label[name=service-defination] {
            display: none;
            position: absolute;
            right: 35vw;
            top: 40vh;
            width: 30vw;
            font-size: var(--font-size-small-more);
            white-space: pre-line;
            text-align: justify;
            color: #757575;
            opacity: 0%;
            font-family: sora;
            line-height: 3vh;

            animation: show 1s ease-in 0s forwards 1 alternate;

        }

        &>div[name=sliding-tabs] {

            position: absolute;
            top: 90vh;
            left: 0vw;
            width: 100vw;
            height: 80vh;
            box-sizing: border-box;
            background: linear-gradient(#F5F5F5, white);
            display: none;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 1vw;
            transition: 1s;

            &>div {

                width: max-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 3vh;
                transition: 1s;

                animation: slide-up 1s ease-out forwards 1;
                animation-delay: 0s;


                &:hover {


                    &>img[name='feature-img'] {
                        border-top-left-radius: 1vh;
                        border-bottom-right-radius: 1vh;
                        transform: translateY(-8vh);
                        transition: 1s;

                    }

                    &>label {
                        transition: 1s;

                        transform: translateY(-8vh);
                        font-size: var(--font-size-medium-less);

                    }
                }

                &>img[name='feature-img'] {

                    height: 50vh;
                    aspect-ratio: 9/13;
                    transition: 1s;

                    object-fit: cover;
                    border-top-left-radius: 12vh;
                    border-bottom-right-radius: 12vh;
                    border-top-right-radius: 2vh;
                    border-bottom-left-radius: 2vh;
                    object-position: center center;

                    box-shadow: 2px 1px 4px 2px #757575;
                    filter: contrast(80%) saturate(80%);
                }



                &>label {
                    transition: 1s;

                    font-size: var(--font-size-small-more);
                    color: #424242
                }
            }

        }


    }
}

.ThirdPage {
    --parent-width: 100vw;
    --parent-height: 180vh;
    position: absolute;
    top: 270vh;
    left: 0vw;
    overflow: hidden;
    /* background-color: green; */

    width: var(--parent-width);
    height: var(--parent-height);

    &>div[name='relative'] {
        position: relative;
        width: var(--parent-width);
        height: var(--parent-height);

        &>div[name=owner-showcase-div] {
            position: relative;
            top: 0vh;
            width: 100vw;
            height: 126vh;
            overflow-y: hidden;
            background-color: #424242;


            &>img[name=owner-wallpaper-img] {
                position: relative;
                width: 100vw;
                aspect-ratio: inherit;
                filter: contrast(50%);

            }

            &>label[name=company-owner-label] {
                position: absolute;
                top: 20vh;
                left: 5vw;
                white-space: pre-line;
                font-size: var(--font-size-small-more);
                line-height: 4vh;
                letter-spacing: 0.1vw;
                font-family: sora;
                color: #212121;

                &::before {

                    position: absolute;
                    top: -10vh;
                    left: 0vw;
                    width: max-content;
                    content: 'Company Visionors';
                    font-size: var(--font-size-medium-more);
                    color: #212121;

                }
            }

            &>label[name=company-owner-moto-label] {
                font-family: Arial, Helvetica, sans-serif;

                position: absolute;
                top: 10vh;
                right: 5vw;
                width: 35vw;
                padding: 2vw;
                white-space: pre-line;
                font-size: var(--font-size-small-more);
                line-height: 3vh;

                color: black;
                box-sizing: border-box;
                background-color: transparent;
                transition: 0.5s;
                /* background-color: #BDBDBD; */
                box-shadow: 0px 0px 5px grey;



            }

            &>img[name=company-logo-img] {
                position: absolute;
                bottom: 1vh;
                right: 1vw;
                width: 5vw;
                aspect-ratio: inherit;

                /* background: linear-gradient(transparent, #9E9E9E); */
                border-radius: 1vw;
                filter: contrast(90%)
            }
        }

        &>div[name=trusted-partners-div] {
            position: absolute;
            top: 126;
            left: 0vw;
            height: 54vh;
            width: 100vw;
            display: none;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            background: linear-gradient(white, #BDBDBD);
            transition: 1s;

            &>div[name=image-session] {
                position: relative;
                width: 60vw;
                height: 50vh;

                &>img[name=company-wallpaper] {
                    position: absolute;
                    top: 4vh;
                    left: 10.5vw;
                    width: 40vw;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    border-radius: 2vh;
                    transition: 0.5s;
                    opacity: 0%;
                    animation: show 0.5s linear 0s forwards 1;
                }

                &>img[name=right-arrow] {
                    position: absolute;
                    top: 18vh;
                    right: 2vw;
                    width: 5vw;
                    aspect-ratio: inherit;
                    object-fit: cover;
                    border-radius: 2vh;
                    image-rendering: optimizeQuality;
                    cursor: pointer;
                    filter: drop-shadow(0px 0px 0px transparent);
                    transition: 0.5s;


                    &:active {
                        transition: 0.1s;
                        filter: drop-shadow(0px 0px 2px #0D47A1)
                    }
                }

                &>img[name=left-arrow] {
                    position: absolute;
                    top: 18vh;
                    left: 2vw;
                    width: 5vw;
                    aspect-ratio: inherit;
                    object-fit: cover;
                    border-radius: 2vh;
                    image-rendering: optimizeQuality;
                    cursor: pointer;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    filter: drop-shadow(0px 0px 0px transparent);
                    transition: 0.5s;


                    &:active {
                        transition: 0.1s;
                        filter: drop-shadow(0px 0px 2px #0D47A1)
                    }


                }


            }

            &>div[name=information-session] {
                position: relative;
                width: 40vw;
                height: 50vh;

                &>label[name=heading-label] {
                    position: absolute;
                    top: 5vh;
                    left: 1vw;
                    font-family: sora;
                    font-size: var(--font-size-medium-less);
                    color: #424242;
                    animation: highlight-text-to-medium-more 2s ease-in-out 0s forwards 1;

                }

                &>label[name=company-name-label] {
                    position: absolute;
                    top: 10vh;
                    left: 1vw;
                    width: max-content;
                    font-family: sora;
                    font-size: var(--font-size-medium);
                    color: #424242;
                    animation: show 1s linear 0s forwards 1;


                }

                &>label[name=company-service-label] {
                    position: absolute;
                    top: 20vh;
                    left: 1vw;
                    width: 90%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: var(--font-size-small-more);
                    line-height: 3vh;
                    text-align: justify;
                    color: #424242;
                    animation: show 1s linear 0s forwards 1;


                }

                &>div[name=iteration-specifier] {
                    position: absolute;
                    bottom: 2vh;
                    right: 2vw;
                    display: flex;
                    flex: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1vw;

                    &>div {
                        padding: 0.5vw;

                        border-radius: 50%;
                        background-color: #FAFAFA;
                        box-shadow: 0px 0px 5px grey;
                        box-sizing: border-box;
                        transition: 0.5s;
                        cursor: pointer;

                        &:hover {
                            transition: 0.5s;

                            box-shadow: 0px 0px 10px #0D47A1;

                        }
                    }

                    &>div[name=active] {
                        transition: 0.5s;
                        box-shadow: 0px 0px 10px #0D47A1;

                    }
                }
            }
        }
    }


}

@keyframes highlight-text-to-medium-more {
    50% {
        font-size: var(--font-size-medium-more);
        font-weight: bold;

    }
}

.FourthPage_Product {
    --parent-width: 100vw;
    --parent-height: 100vh;
    position: absolute;
    top: 450vh;
    left: 0vw;
    overflow: hidden;


    width: var(--parent-width);
    height: var(--parent-height);

    &>div[name='relative'] {
        position: relative;
        width: var(--parent-width);
        height: var(--parent-height);

        &>div[name=product-showcase-div] {
            position: absolute;
            top: 0vh;
            left: 0vw;
            padding-top: 20vh;
            padding-left: 5vw;
            padding-right: 5vw;
            height: 100vh;
            width: 100vw;
            /* border-bottom: 1px solid grey; */

            box-sizing: border-box;

            &>label[name=heading-label] {
                position: absolute;
                top: 7vh;
                left: 1vw;
                font-size: var(--font-size-medium-more);
                font-family: sora;
                color: #424242;

                &::after {
                    position: absolute;
                    top: 6vh;
                    left: 0vw;
                    width: max-content;
                    content: "Tailored Layouts to Suit Every Lifestyle";
                    font-size: var(--font-size-small-more);
                    font-family: Arial, Helvetica, sans-serif;
                    color: #757575;

                }
            }

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            gap:2vw;
            row-gap: 1vh;

            &>div {
                width: 20vw;
                padding: 1vw;
                aspect-ratio: 1;
                position: relative;
                background-color: #EEEEEE;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 1vh;

                &>img {
                    width: 18vw;
                    aspect-ratio: inherit;
                }

                &>label {
                    position: absolute;
                    top: 1.5vh;
                    right: 1vw;
                    font-size: var(--font-size-medium-less);
                    font-family: Arial, Helvetica, sans-serif;
                    color: #424242;
                }
            }
        }


    }
}

.FifthPage_QueryForm {
    --parent-width: 100vw;
    --parent-height: 100vh;
    position: absolute;
    top: 550vh;
    left: 0vw;
    overflow: hidden;
    background-color: #F5F5F5;


    width: var(--parent-width);
    height: var(--parent-height);

    &>div[name='relative'] {
        position: relative;
        width: var(--parent-width);
        height: var(--parent-height);

        &>label[name=Heading-label] {
            position: absolute;
            top: 5vh;
            left: 5vw;
            font-size: var(--font-size-large-less);
            font-family: sora;
            color: #212121;
        }

        &>label[name=Sub-Heading-label] {
            position: absolute;
            top: 15vh;
            left: 5vw;
            font-size: var(--font-size-medium-less);
            font-family: sora;
            color: #424242;

            &::after {
                position: absolute;
                top: 5vh;
                left: 0vw;
                width: 30vw;
                content: 'Please submit your contact information and one of our sales associates will be in touch with you shortly';
                font-family: Arial, Helvetica, sans-serif;
                font-size: var(--font-size-small-more);
                color: #9E9E9E;

            }
        }

        &>div[name=form-div] {
            position: absolute;
            right: 1vw;
            top: 10vh;
            width: 40vw;
            height: 80vh;
            padding-top: 15vh;
            padding-left: 2vw;
            padding-right: 2vw;
            background-color: white;
            box-sizing: border-box;
            border-radius: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5vh;
            box-shadow: 0px 0px 3px #FAFAFA;

            &>label[name=heading-label] {
                position: absolute;
                top: 2vh;
                right: 2vw;
                font-size: var(--font-size-medium);
                font-family: sora;
                color: #424242;

                &::after {
                    position: absolute;
                    top: 5vh;
                    right: 0vw;
                    font-size: var(--font-size-medium-less);
                    content: 'Form';
                    font-family: Arial, Helvetica, sans-serif;
                    color: #757575;
                }
            }

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2vh;

                &>label {
                    font-size: var(--font-size-small-more);
                    font-weight: bold;
                    font-family: sora;
                }

                &>input {
                    appearance: none;
                    width: 27vw;
                    border: none;
                    padding: 0.3vw 0.5vw;
                    padding-left: 0vw;

                    background-color: transparent;
                    border-bottom: 1px solid grey;
                    box-sizing: border-box;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: var(--font-size-small-more);
                    outline: none;
                    color: #424242;
                }

                &>div[name=radio-div] {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2vw;
                    font-family: sora;

                    &>div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1vw;

                        &>input {
                            appearance: none;
                            background-color: white;
                            width: 1.5vw;
                            height: 1.5vw;
                            border-radius: 50%;
                            border: 1px solid grey;
                            cursor: pointer;

                            &:hover {
                                background-color: #EEEEEE;

                            }
                        }

                        &>input:checked {
                            border: 4px solid #536DFE;

                            background-color: #E3F2FD;
                        }
                    }
                }




            }

            &>label[name=submit-button] {
                position: absolute;
                bottom: 2vh;
                right: 2vw;
                width: 8vw;
                height: 3vw;
                border: 1px solid #757575;
                border-radius: 1vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #00C853;
                font-family: sora;
                cursor: pointer;

                &:hover,
                &:active {
                    background-color: #01af4a;
                }
            }
        }
    }
}


.Footer_Contact {
    --parent-width: 100vw;
    --parent-height: 40vh;
    position: absolute;
    top: 650vh;
    left: 0vw;
    overflow: hidden;
    background-color: #F5F5F5;


    width: var(--parent-width);
    height: var(--parent-height);

    &>div[name='relative'] {
        position: relative;
        width: var(--parent-width);
        height: var(--parent-height);
        color: #424242;

        &>img[name=newkissanagros-logo-img] {
            position: absolute;
            top: 22vh;
            left: 3vw;
            width: 5vw;
            aspect-ratio: inherit;
        }

        &>label[name=company-name-label] {
            position: absolute;
            top: 3vh;
            left: 3vw;
            font-family: sora;
            font-size: var(--font-size-medium-more);
            text-transform: uppercase;
        }

        &>label[name=company-address-label] {
            position: absolute;
            top: 10vh;
            left: 3vw;
            font-family: Arial, Helvetica, sans-serif;
            font-size: var(--font-size-small-more);
            white-space: pre-line;
            line-height: 3vh;
        }

        &>label[name=privacy-link-label] {
            position: absolute;
            bottom: 5vh;
            left: 3vw;
            font-family: Arial, Helvetica, sans-serif;
            font-size: var(--font-size-small-more);
            cursor: pointer;

            &:hover,
            &:active {
                color: #212121;
            }
        }

        &>label[name=contact-us-label] {
            position: absolute;
            bottom: 25vh;
            right: 30vw;
            font-family: sora;
            font-size: var(--font-size-medium-less);
            cursor: pointer;

            &:hover,
            &:active {
                color: #212121;
            }
        }



        &>img[name=gmail-logo] {
            position: absolute;
            top: 20vh;
            right: 35vw;
            width: 2vw;
            aspect-ratio: inherit;
            cursor: pointer;
        }

        &>img[name=instagram-logo] {
            position: absolute;
            top: 20.5vh;
            right: 32vw;
            width: 1.8vw;
            aspect-ratio: inherit;
            cursor: pointer;

        }

        &>img[name=whatsapp-logo] {
            position: absolute;
            top: 20.5vh;
            right: 29vw;
            width: 1.8vw;
            aspect-ratio: inherit;
            cursor: pointer;

        }

        &>label[name=creator] {
            position: absolute;
            bottom: 10vh;
            right: 21vw;
        }
    }
}