:root {
    --font-size-small-less: 0.5vw;
    --font-size-small: 0.7vw;
    --font-size-small-more: 0.9vw;
    --font-size-medium-less: 1.3vw;
    --font-size-medium: 1.7vw;
    --font-size-medium-more: 2.1vw;
    --font-size-large-less: 2.5vw;
    --font-size-large: 2.9vw;
    --font-size-large-more: 3.2vw;
    scroll-behavior: smooth;
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-up {

    0% {
        transform: translateY(20vh);
    }

    100% {
        transform: translateY(0vh);
    }

}

@keyframes slide-left-show {
    0% {}

    100% {
        right: -100vw;

    }
}

@keyframes slide-right-show {
    0% {}

    100% {
        left: -100vw;

    }
}

@keyframes slide-up-show {
    0% {}

    100% {
        top: -100vw;

    }
}

.MainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.Header {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 8vh;
    width: 100vw;
    opacity: 0%;
    animation: show 1s linear forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 10;
    background-color: white;
    overflow: hidden;

    &>img[name=newkissanagros-logo-img] {
        position: absolute;
        top: 1vh;
        right: 2vh;
        width: 15vw;
        aspect-ratio: inherit;
    }

    &>label[name=company-name-label] {
        position: absolute;
        top: 3vh;
        left: 5vw;
        font-size: var(--font-size-large-more);

        font-family: sora;

        color: #616161;
        font-weight: bold;

    }

    &>div[name=options-container] {
        position: absolute;
        left: 45vw;
        top: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;

        &>label[name=home-link-label] {
            font-size: var(--font-size-large-less);
            color: #00C853;
            cursor: pointer;
        }

        &>label[name=contact-link-label] {
            display: none;
            transition: 0.5s;

            font-size: var(--font-size-medium);
            color: #424242;
            box-shadow: 0px 0px 2px #757575;
            background: linear-gradient(120deg, #00C853, #CCFF90 50% 100%);
            border-radius: 0.5vw;
            padding: 0.6vw;
            cursor: pointer;

            &:hover,
            &:active {
                transition: 0.5s;
                box-shadow: 0px 0px 1px #424242;

            }

        }

    }



}

.FirstPage {
    position: absolute;
    top: 8vh;
    left: 0vw;
    width: 100vw;
    height: 92vh;
    box-sizing: border-box;
    opacity: 0%;
    animation: show 1s linear forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    overflow: hidden;


    &>label[name=heading-1-label] {
        position: absolute;
        top: 1vh;
        left: 5vw;
        font-size: 3vw;
        line-height: 4vh;

        font-family: sora;
        white-space: pre-line;
        text-align: right;
        color: #424242;
    }

    &>p {
        position: absolute;
        top: 5vh;
        left: 5vw;
        width: 90vw;
        text-align: justify;
        white-space: pre-line;
        font-size: 2vw;
        font-family: Arial, Helvetica, sans-serif;
    }



}

@media screen and (min-width:600px) {
    .Header {
        position: fixed;
        top: 0vh;
        left: 0vw;
        height: 10vh;
        width: 100vw;
        opacity: 0%;
        animation: show 1s linear forwards;
        animation-delay: 0s;
        animation-iteration-count: 1;
        z-index: 10;
        background-color: white;
        overflow: hidden;

        &>img[name=newkissanagros-logo-img] {
            position: absolute;
            top: 1vh;
            right: 2vh;
            width: 5vw;
            aspect-ratio: inherit;
        }

        &>label[name=company-name-label] {
            position: absolute;
            top: 3vh;
            left: 5vw;
            font-size: var(--font-size-mediun-more);

            font-family: sora;

            color: #616161;
            font-weight: bold;

        }

        &>div[name=options-container] {
            position: absolute;
            left: 20vw;
            top: 3vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5vw;

            &>label[name=home-link-label] {
                font-size: var(--font-size-medium-less);
                color: #00C853;
                cursor: pointer;
            }

            &>label[name=contact-link-label] {
                display: none;
                transition: 0.5s;

                font-size: var(--font-size-medium);
                color: #424242;
                box-shadow: 0px 0px 2px #757575;
                background: linear-gradient(120deg, #00C853, #CCFF90 50% 100%);
                border-radius: 0.5vw;
                padding: 0.6vw;
                cursor: pointer;

                &:hover,
                &:active {
                    transition: 0.5s;
                    box-shadow: 0px 0px 1px #424242;

                }

            }

        }



    }

    .FirstPage {
        position: absolute;
        top: 10vh;
        left: 0vw;
        width: 100vw;
        height: 92vh;
        box-sizing: border-box;
        opacity: 0%;
        animation: show 1s linear forwards;
        animation-delay: 0s;
        animation-iteration-count: 1;
        overflow-y: scroll;

        &>label[name=heading-1-label] {
            position: absolute;
            top: 1vh;
            left: 5vw;
            font-size: 1.5vw;
            line-height: 4vh;

            font-family: sora;
            white-space: pre-line;
            text-align: right;
            color: #424242;
        }

        &>p {
            padding-bottom: 10vh;
            position: absolute;
            top: 5vh;
            left: 5vw;
            width: 90vw;
            text-align: justify;
            white-space: pre-line;
            font-size: 1vw;
            font-family: Arial, Helvetica, sans-serif;

            box-sizing: border-box;
        }



    }
}